body {
    background-color: lightgray;
    margin: 0; /*needed for 100% utilisation of the space*/
}

.body-wrapper {
    display: grid;

    /*temporary grid layout*/
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sd        main";
    grid-template-rows: 1fr;

    margin: 0;

    min-height: 100vh; /*this pushes any possible footer to the bottom*/

    /*grid-template-columns: repeat(7, minmax(100px, 1fr));*/
    /*@formatter:off*/
    /*grid-template-areas:*/
    /*".      .       .       .       .       .       ."      !* header might be needed sometime *!*/
    /*"sd     sd      main    main    main    main    main"*/
    /*".      .       .       .       .       .       .";     !* footer might be needed sometime *!*/
    /*@formatter:on*/
}

#left-sidebar {
    grid-area: sd;
    /*background-color: aqua;*/
}

nav {
    /*background-color: palegreen;*/

    position: sticky;
    /*this is needed because the nav IS NOT STICKY!! there is some shitty space just above the nav,
    from left sidebar. WHYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY??????????*/
    top: 0;

    height: 100vh; /*needed for justify-content: center*/

    /*flex for all the headings*/
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#nav-links {
    background-color: whitesmoke;

    position: sticky;
    top: 0;

    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);

    margin: 0 10px;
    padding: 10px 10px;

    list-style: none;

    border-radius: 3px;
}

.nav-item {
    font-size: 1.5em;
    padding: 0.15em 0;
    text-decoration: none;

    display: block; /*this makes the anchor use the whole width of the ul, instead of just "textlength" length*/

    /*color:; */ /* todo change  links color*/

    border-radius: 3px;

    /*hover -> normal*/
    transition-property: background-color, color;
    transition-duration: 0.8s;
}

.nav-item:hover {
    background-color: darkgray;
    /*normal -> hover*/
    transition-property: background-color, color;
    transition-duration: 0.8s;
}

.nav-subitem {
    font-size: 1.2em;
    padding-left: 2em;
}

main {
    grid-area: main;
    background-color: bisque;
}

/*!*debugging*!*/
/** {*/
/*border-color: #ff0000 #00ff00 #0000ff rgb(250, 0, 255);*/
/*border-style: solid;*/
/*border-width: 1px;*/
/*}*/
