body {
    background-color: lightgray;
    margin: 0; /*needed for 100% utilisation of the space*/
}

.body-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "sd        main";
    grid-template-rows: 1fr;

    margin: 0;

    min-height: 100vh;

    /*grid-template-columns: repeat(7, minmax(100px, 1fr));*/
    /*@formatter:off*/
    /*grid-template-areas:*/
    /*".      .       .       .       .       .       ."      !* header might be needed sometime *!*/
    /*"sd     sd      main    main    main    main    main"*/
    /*".      .       .       .       .       .       .";     !* footer might be needed sometime *!*/
    /*@formatter:on*/
}

#left-sidebar {
    grid-area: sd;
    background-color: aqua;
}

nav {
    background-color: palegreen;
    padding-left: 1em;
    position: sticky;
    /*this is needed because the nav IS NOT STICKY!! there is some shitty space just above the nav,
    from left sidebar. WHYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY??????????*/
    top: 0px;

    height: 99.9vh; /*needed for justify-content: center*/

    /*flex for all the headings*/
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#left-sidebar > nav > h2 {
    margin-top: -0.4vh;
}

#left-sidebar > nav > h3 {
    margin-left: 3em;
    margin-top: -0.4vh;
}

main {
    grid-area: main;
    background-color: bisque;
}

/*!*debugging*!*/
/** {*/
/*border-color: #ff0000 #00ff00 #0000ff rgb(250, 0, 255);*/
/*border-style: solid;*/
/*border-width: 1px;*/
/*}*/
